<!DOCTYPE html>
<html lang="en">

<!-- Made By :- 
    1, Girish Suthar 
    2, Vishva Raj Singh 
    3, Dolly Sharma
    4, Aman Singh
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live HTML Editor</title>
    <link rel="icon" type="image/x-icon" href="./logo.ico">

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/dracula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/monokai.min.css">

    <!-- Font Awousome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custome CSS -->
    <link rel="stylesheet" href="/public/css/editor.css" class="css">
    <link rel="stylesheet" href="/public/css/sidebar.css" class="css">
    <link rel="stylesheet" href="/public/css/resp.css" class="css">

</head>

<body>
    <div id="content">
        <!-- Navbar -->
        <div class="run-btn">
            <div class="heading-box">
                <img src="./Img/logo.png" alt="">
                <h1 class="heading">Quick Code Studio</h1>
            </div>

            <div class="sattings-btn">
                <button class="run-code html" onclick="toggleHTML()">HTML <span
                        class="status-circle filled"></span></button>
                <button class="run-code css" onclick="toggleCSS()">CSS <span
                        class="status-circle filled"></span></button>
                <button class="run-code output" onclick="openFullScreenOutput()"><i class="fas fa-expand"></i> Full Screen</button>
                <a class="settings" id="settingsBtn"><i class="fas fa-cog"></i></a>
            </div>
        </div>

        <!-- Editor -->
        <div class="editor">
            <div class="code-editor">
                <div class="editor-label html-label">HTML Editor</div>
                <textarea id="htmlCode" placeholder="Enter HTML Code here"></textarea>
                <div class="editor-label css-label">CSS Editor</div>
                <textarea id="cssCode" placeholder="Enter CSS Code here"></textarea>
            </div>
            <iframe id="preview" src="about:blank"></iframe>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2 class="sidebar-heading">Settings</h2>
            <button class="close-btn" id="closeSidebar"><i class="fa-solid fa-circle-xmark"></i></button>
        </div>
        <hr>
        <div class="sidebar-content">
            <label for="sidebarThemeSelector">Change Theme:</label>
            <select id="themeSelector" class="run-code theme">
                <option value="monokai">Dark</option>
                <option value="dracula" selected>Default</option>
                <option value="default">Light</option>
            </select>
            <br>

            <label for="fontFamilySelector">Font Family:</label>
            <select id="fontFamilySelector" class="run-code theme" onchange="changeFontFamily(this.value)">
                <option value="monospace">Monospace</option>
                <option value="sans-serif">Sans-Serif</option>
                <option value="serif">Serif</option>
                <option value="cursive">Cursive</option>
            </select>

            <label for="fontSizeSelector">Font Size:</label>
            <input type="number" id="fontSizeInput" min="10" max="50" step="1" value="25"
                onchange="changeFontSize(this.value)">

            <div class="toggle-container">
                <label>Show Line Numbers</label>
                <label class="switch">
                    <input type="checkbox" id="toggleLineNumbers" checked onchange="toggleLineNumbers(this.checked)">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="toggle-container">
                <label>Toggle Word Wrap</label>
                <label class="switch">
                    <input type="checkbox" id="toggleWordWrap" checked onchange="toggleWordWrap(this.checked)">
                    <span class="slider"></span>
                </label>
            </div>

            <button id="downloadCodeBtn" class="editor-managemant-btn save-code">Download Code</button>
            <button id="clearCodeBtn" class="editor-managemant-btn clear-code">Clear Code</button>
            <button id="logOutBtn" class="editor-managemant-btn log-out">Log Out</button>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/javascript/javascript.min.js"></script>

    <!-- for download -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <!-- SweetAlert Code -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/public/js/script.js"></script>
    <script src="/public/js/mobile.js"></script>
</body>

</html>